@keyframes enter-cards {
  0% {
    transform: translateY(20px);
  }
  100% {
    transform: translateY(0px);
  }
}
@keyframes enter-logo {
  0% {
    transform: translateY(-100px);
  }
  100% {
    transform: translateY(0);
  }
}
@keyframes enter-page {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes loader-logo {
  0%,
  100% {
    scale: 1.2;
  }
  50% {
    scale: 1;
  }
}
@keyframes arrow-next {
  0%,
  100% {
    transform: translateY(-5px);
  }
  50% {
    transform: translateY(0px);
  }
}
@keyframes arrow-prev {
  0%,
  100% {
    transform: translateY(5px);
  }
  50% {
    transform: translateY(0px);
  }
}
@keyframes card {
  0% {
    scale: 1.05;
    opacity: 0.6;
  }
  100% {
    scale: 1;
    opacity: 1;
  }
}
@keyframes team-fav {
  0%,
  100% {
    scale: 1;
  }
  50% {
    scale: 1.05;
  }
}
@keyframes btn-mobile {
    0%{
        transform: rotate(0);
    }
    100%{
        transform: rotate(-90deg);
    }
    
}
