@import 'animate';

$default: #ffffff;
$primary: #001845;
$secondary: #004b23;
$tertiary: #ffb703;
$text-primary: #0a0a0a;
$bgcolor: #f5ebe0;

@mixin flexCenter($flex-direction) {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: $flex-direction;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Josefin Sans", sans-serif;
  transition: 0.5s;
  // overflow: hidden;
}
*::-webkit-scrollbar {
  width: 1px;
}

*::-webkit-scrollbar-track {
  background: $bgcolor;
}

*::-webkit-scrollbar-thumb {
  background-color: $secondary;
  border-radius: 20px;
  border: 1px solid $secondary;
}
body {
  background-color: $bgcolor;
  color: $default;
  overflow-x: hidden;
  overflow-y: auto;
  @media (max-width:200px){
    overflow-y: auto;
  }
}
.container {
  background-color: $bgcolor;
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  flex-direction: column;
  position: relative;
  @media (max-width:200px){
    height: auto;
  }
}
.header {
  .icon-drag {
    @include flexCenter(row);
    transform: translateY(-30px);
    display: none;
    @media (max-width: 768px) {
      display: flex;
      position: absolute;
    }
    @media (max-width:200px){
      display: none;
    }
    img {
      width: 100px;
    }
  }
}
.container .header .header-logo {
  height: 100px;
  @include flexCenter(row);
  position: relative;
  inset: 0;
  background-color: $secondary;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  z-index: 2;
  @media (max-width:600px){
    height: 80px;
  }
  @media (max-width:200px){
    height: 40px;
  }
  img {
    width: 95px;
    @media (max-width:600px){
      width: 70px;
    }
    @media (max-width:200px){
      width: 35px;
      height: 35px;
    }
  }
}
.enter-logo {
  animation: enter-logo 2s ease-in-out;
}
.container .header .header-title {
  height: 30px;
  width: 100%;
  position: relative;
  @include flexCenter(row);
  background-color: $primary;
  color: $default;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  @media (max-width:200px){
    height: 15px;
  }
  h1 {
    font-size: 17px;
    font-weight: 300;
    letter-spacing: 2px;
    text-transform: uppercase;
    text-align: center;
    &::selection{
      background-color:$secondary;
    }
    @media (max-width:200px){
      font-size: 5px;
    }
  }
}
.header .nav{
  width: 100vw;
  @include flexCenter(column);
  h3{
    background-color: $tertiary;
    padding: 5px 10px;
    font-size: 14px;
    border-radius: 0 0 10px 10px;
    color: $primary;
  }
}
.header .nav .header-teams {
  background-color: $tertiary;
  width: 100%;
  position: relative;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  display: flex;
  justify-content: center;
  align-items: center;
  @media (max-width:600px){
   justify-content: flex-start;
  }
    @media (max-width: 600px) {
      &::before {
        content: "";
        width: 50px;
        height: 80px;
        background-color: #0a0a0a;
        position: absolute;
        right: 0;
        z-index: 2;
        pointer-events: none;
        background: linear-gradient(
          to right,
          rgba(0, 24, 69, 0),
          rgba(0, 24, 69, 0.8)
        );
      }
    }
  .team {
    @include flexCenter(column);
    padding: 5px 10px 5px 10px;
    margin: 10px 0 10px 0;
    max-width: 60px !important;
    min-width: 60px !important;
    border-radius: 10px;
    background-color: transparent;
    position: relative;
    cursor: pointer;
    @media (max-width:200px){
      min-width: 25px !important;
      border-radius: 2px;
      // padding: 1px;
      // margin: 1px;
    }
    &:hover::after{
      content: 'Meu time';
      width: 100%;
      background-color: $primary;
      height: 20px;
      border-radius: 0 0 10px 10px;
      position: absolute;
      bottom: -18px;
      font-size: 11px;
      @include flexCenter(row);
      @media (max-width:200px){
        display: none;;
      }
  }
    &:hover {
      scale: 1.03;
      box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
      @media (max-width:200px){
        scale: 1;
      }
    }
    
    &::before {
      content: "";
      background-color: $default;
      background-image: url("../img/fav.svg");
      background-repeat: no-repeat;
      background-size: contain;
      background-position: center;
      width: 20px;
      height: 20px;
      position: absolute;
      bottom: 0;
      right: 10px;
      transition: 0.5s;
      display: none;
      @media (max-width:600px){
        bottom: 0;
        left: 0;
      }
    }
    
    &:hover::before {
      font-size: 10px;
      @include flexCenter(row);
      bottom: 0;
      right: 0;
      background-color: $secondary;
      border-radius: 10px 10px 0 0;
      width: 100%;
      height: 100%;
      transition: 0.5s;
      @media (max-width:600px){
        border-radius:0;
        display: none;
      }
    }
      @media (max-width: 600px) {
        &::before {
          right: 25px;
        }
        &:hover {
          scale: 1;
        }
        
      }

    img {
      width: 50px;
      height: 50px;
      object-fit:contain;
      object-position: center;
      @media (max-width:600px){
        width: 40px;
        height: 40px;
      }
      @media (max-width:200px){
        width: 20px;
        height: 20px;
      }
    }
  }
}


.enter-page {
  animation: enter-page 2s linear;
}
.enter-cards{
  animation: enter-cards 2s linear;
}

.loader-screen {
  width: 100vw;
  height: 100vh;
  background-color: $primary;
  position: fixed;
  inset: 0;
  z-index: 999;
  @include flexCenter(row);
  &::after {
    content: "";
    width: 100vw;
    height: 50vh;
    background-color: $secondary;
    position: absolute;
    bottom: 0;
    left: 0;
  }
  img {
    width: 200px;
    z-index: 11;
    animation: loader-logo 5s linear infinite;
    @media (max-width:768px){
        width: 100px;
    }
    @media (max-width:200px){
      width: 40px;
    }
  }
}
.round{
  width: 100%;
  text-align: center;
  @media (max-width:600px){
    margin-top: 15px;
  }
  h2{
      color: $primary;
      margin: 5px;
      text-transform: uppercase;
      font-size: 40px;
      font-weight: 400;
      &::selection{
        background-color:$secondary;
        color: $default;
      }
      @media (max-width:600px){
          font-size: 17px;
          font-weight: 700;
          
      }
      @media (max-width:200px){
        font-size: 9px;
        margin: 0;
      }
  }
}
.matches {
  width: 100%;
  flex-wrap: wrap;
  color: $default;
  @include flexCenter(row);
  margin-top: 5px;
  @media (max-width:600px){
    margin-top: 10px;
}
@media (max-width:200px){
  margin-bottom: 30px;
}
 
  .card-match {
    width: 250px;
    height: 160px;
    position: relative;
    background-color: $primary;
    @include flexCenter(row);
    margin: 10px;
    border-radius: 20px;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    animation: card 1s linear;
    &:hover{
        scale: 1.03;
        box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
     }
    @media (max-width:600px){
        width: 150px;
        height: 65px;
        border-radius: 5px;
    }
    .card-team {
      @include flexCenter(column);
      z-index: 10;
      background-color: rgba(10, 10, 10, 0.3);
      width: 100%;
      height: 100%;
      @media (max-width:600px){
        border-radius: 5px;
    }
      img {
        width: 70px;
        height: 70px;
        @media (max-width:600px){
            width: 40px;
            height: 40px;
        }
      }
      span {
        margin-top: 10px;
        text-transform: uppercase;
        font-size: 10px;
        font-weight: 400;
        @media (max-width:600px){
            display: none;
        }
      }
    }
    .principal{
      border-radius: 20px 0 0 20px;
      @media (max-width:600px){
        border-radius: 5px 0 0 5px;
    }
    }
    .visitor{
      border-radius: 0 20px 20px 0;
      @media (max-width:600px){
        border-radius: 0 5px 5px 0;
    }
    }
    .versus {
      margin: 20px;
      color: $tertiary;
      z-index: 10;
      @media (max-width:600px){
        margin: 10px;
        i{
            font-size: 10px;
        }
    }
    }
    .gradient-card {
      position: absolute;
      background: linear-gradient(to top, rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0));
      width: 100%;
      height: 80px;
      border-radius: 0 0 20px 20px;
      pointer-events: none;
      bottom: 0;
      @media (max-width:600px){
        height: 55px;
        border-radius: 0 0 5px 5px;
    }
    @media (max-width:200px){
        height: 15px;
    }
    }
  }
}
.btn-prev{
  // visibility: hidden;
  animation: arrow-prev 4s linear infinite;
  margin: 5px;
  @media (max-width:600px){
    left: 20px;
  }
}
.btn-next{
  animation: arrow-next 4s linear infinite;
  @media (max-width:600px){
    right: 20px;
  }
}
.btn-prev , .btn-next{
  width: 45px;
  height: 45px;
  text-align: center;
  cursor: pointer;
  color: $primary;
  border-radius: 50%;
  animation: enter-cards 2s linear;
  @include flexCenter(row);
  &:hover{
    background-color: $primary;
    color: $default;
    scale: 1.05;
    @media (max-width:600px){
      scale: 1;
      
  }
  }
  @media (max-width:600px){
    width: 35px;
    height: 35px;
    position: absolute;
    top:190px;
    transform: rotate(-90deg);
    animation: btn-mobile 2s ease-in-out;
    @media (max-width:200px){
      top:115px;
    }
}
@media (max-width:200px){
  width: 15px;
    height: 15px;
}
  i{
    font-size: 30px;
    @media (max-width:600px){
      font-size: 25px;
  }
  @media (max-width:200px){
    font-size: 10px;
  }
  }
}
.team-fav{
  background-color: $secondary !important;
  animation: team-fav 3s ease-in-out infinite !important;
  &:after{
    content: '';
    position: absolute;
    background-image: url("../img/fav.svg");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    width: 30px;
    height:30px;
    transform: translateY( -77px);
    background-color: $secondary;
    border-radius: 50%;
    transition: 1s;
    @media (max-width:600px){
      width: 20px;
      height:20px;
      transform: translateY(-31px);
    }
  }
  &:hover::after{
    width: 55px;
    height:55px;
    transform: translateY( -0px);
    background-color: transparent;
    z-index: 11;
    @media (max-width:600px){
      width: 30px;
      height:30px;
    }
  }
}
.fav{
  background-color: $secondary !important;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  position: relative;
  border-radius: 10px 10px 0 0 !important;
  @media (max-width:200px){
    border-radius: 1px !important;
  }
  &::after{
      content: 'Meu time';
      width: 100%;
      background-color: $primary;
      height: 20px;
      border-radius: 0 0 10px 10px;
      position: absolute;
      bottom: -18px;
      font-size: 11px;
      @include flexCenter(row);
      @media (max-width:200px){
        display: none;
      }
  }
}
footer{
  width: 100%;
  padding: 10px;
  @include flexCenter(column);
  animation: enter-page 2s linear;
  @media (max-width:200px){
    position: absolute;
    bottom: 0;
  }
  p{
    color:$text-primary;
    @media (max-width:600px){
      font-size: 11px;
    }
    @media (max-width:200px){
      font-size: 8px;
    }
    a{
      text-decoration: none;
      color: $text-primary;
      font-weight: 800;
    }
  }
}
