$default: #ffffff;
$primary: #001845;
$secondary: #004b23;
$tertiary: #ffb703;
$text-primary: #0a0a0a;
$bgcolor: #d3d3d3;

@mixin flexCenter($flex-direction) {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: $flex-direction;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Josefin Sans", sans-serif;
  transition: 0.5s;
  // overflow: hidden;
}
body {
  background-color: $bgcolor;
  color: $default;

}
.container {
  background-color: $bgcolor;
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  flex-direction: column;
}
.header {
  .icon-drag {
    @include flexCenter(row);
    transform: translateY(-30px);
    display: none;
    @media (max-width: 768px) {
      display: flex;
      position: absolute;
    }
    img {
      width: 100px;
    }
  }
}
.container .header .header-logo {
  height: 100px;
  @include flexCenter(row);
  position: relative;
  inset: 0;
  background-color: $secondary;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  z-index: 2;
  @media (max-width:600px){
    height: 80px;
  }
  img {
    width: 95px;
    @media (max-width:600px){
      width: 70px;
    }
  }
}
.enter-logo {
  animation: enter-logo 2s ease-in-out;
}
.container .header .header-title {
  height: 30px;
  width: 100%;
  position: relative;
  @include flexCenter(row);
  background-color: $primary;
  color: $default;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  h1 {
    font-size: 17px;
    font-weight: 300;
    letter-spacing: 2px;
    text-transform: uppercase;
  }
}

.container .header .header-teams {
  background-color: $tertiary;
  width: 100vw;
  position: relative;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  @include flexCenter(row);
  @media screen {
    @media (max-width: 600px) {
      &::before {
        content: "";
        width: 50px;
        height: 80px;
        background-color: #0a0a0a;
        position: absolute;
        right: 0;
        z-index: 2;
        pointer-events: none;
        background: linear-gradient(
          to right,
          rgba(0, 24, 69, 0),
          rgba(0, 24, 69, 0.8)
        );
      }
    }
  }
  .team {
    @include flexCenter(column);
    padding: 5px 10px 5px 10px;
    margin: 10px 0 10px 0;
    max-width: 60px !important;
    border-radius: 10px;
    background-color: transparent;
    cursor: pointer;
    @media (max-width: 600px) {
      margin: 5px 0 5px 0;
    }
    &:hover {
      scale: 1.03;
      box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    }
    &::before {
      content: "";
      background-color: $default;
      background-image: url("../img/fav.svg");
      background-repeat: no-repeat;
      background-size: contain;
      background-position: center;
      width: 20px;
      height: 20px;
      position: absolute;
      bottom: 0;
      right: 10px;
      transition: 0.5s;
      display: none;
      @media (max-width:600px){
        bottom: 0;
        left: 0;
      }
    }
    &:hover:before {
      font-size: 10px;
      background-color: transparent;
      @include flexCenter(row);
      bottom: 0;
      right: 0;
      background-color: $secondary;
      border-radius: 10px;
      width: 100%;
      height: 100%;
      transition: 0.5s;
    }
    @media screen {
      @media (max-width: 600px) {
        &::before {
          right: 25px;
        }
        &:hover {
          scale: 1;
        }
        
      }
    }
    img {
      width: 50px;
      height: 50px;
      object-fit:contain;
      object-position: center;
      @media (max-width:600px){
        width: 40px;
        height: 40px;
      }
    }
  }
}


.enter-page {
  animation: enter-page 2s linear;
}
.enter-cards{
  animation: enter-cards 2s linear;
}
@keyframes enter-cards {
  0%{
    transform: translateY(20px);
  }
  100%{
    transform: translateY(0px);
  }
}
@keyframes enter-logo {
  0% {
    transform: translateY(-100px);
  }
  100% {
    transform: translateY(0);
  }
}
@keyframes enter-page {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes loader-logo {
  0%,
  100% {
    scale: 1.2;
  }
  50% {
    scale: 1;
  }
}
@keyframes arrow-next {
  0%, 100%{
    transform: translateY(-5px);
  }
  50%{
    transform: translateY(0px);
  }
}
@keyframes arrow-prev {
  0%, 100%{
    transform: translateY(5px);
  }
  50%{
    transform: translateY(0px);
  }
}
.loader-screen {
  width: 100vw;
  height: 100vh;
  background-color: $primary;
  position: fixed;
  inset: 0;
  z-index: 999;
  @include flexCenter(row);
  &::after {
    content: "";
    width: 100vw;
    height: 50vh;
    background-color: $secondary;
    position: absolute;
    bottom: 0;
    left: 0;
  }
  img {
    width: 200px;
    z-index: 11;
    animation: loader-logo 5s linear infinite;
    @media (max-width:768px){
        width: 100px;
    }
  }
}
.round{
  width: 100%;
  text-align: center;
  h2{
      color: $text-primary;
      margin: 5px;
      text-transform: uppercase;
      font-size: 40px;
      font-weight: 400;
      @media (max-width:600px){
          font-size: 17px;
          font-weight: 700;
      }
  }
}
.matches {
  width: 100%;
  flex-wrap: wrap;
  color: $default;
  @include flexCenter(row);
  margin-top: 5px;
  @media (max-width:600px){
    margin-top: 10px;
}
  @keyframes card {
    0%{
    scale: 1.05;
    opacity: 0.6;
    }
    100%{
      scale: 1;
      opacity: 1;
    }
  }
  .card-match {
    width: 250px;
    height: 160px;
    background-color: $primary;
    @include flexCenter(row);
    margin: 10px;
    border-radius: 20px;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    animation: card 1s linear;
    &:hover{
        scale: 1.03;
        box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
     }
    @media (max-width:600px){
        width: 150px;
        height: 65px;
        border-radius: 5px;
    }
    .card-team {
      @include flexCenter(column);
      z-index: 10;
      background-color: rgba(10, 10, 10, 0.3);
      width: 100%;
      height: 100%;
      @media (max-width:600px){
        border-radius: 5px;
    }
      img {
        width: 70px;
        height: 70px;
        @media (max-width:600px){
            width: 40px;
            height: 40px;
        }
      }
      span {
        margin-top: 10px;
        text-transform: uppercase;
        font-size: 10px;
        font-weight: 400;
        @media (max-width:600px){
            display: none;
        }
      }
    }
    .principal{
      border-radius: 20px 0 0 20px;
      @media (max-width:600px){
        border-radius: 5px 0 0 5px;
    }
    }
    .visitor{
      border-radius: 0 20px 20px 0;
      @media (max-width:600px){
        border-radius: 0 5px 5px 0;
    }
    }
    .versus {
      margin: 20px;
      color: $tertiary;
      z-index: 10;
      @media (max-width:600px){
        margin: 10px;
        i{
            font-size: 10px;
        }
    }
    }
    .gradient-card {
      position: absolute;
      background: linear-gradient(to top, rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0));
      width: 250px;
      height: 80px;
      border-radius: 0 0 20px 20px;
      pointer-events: none;
      transform: translateY(40px);
      &:hover{
        width: 250px;
        height: 160px;
     }
      @media (max-width:600px){
        width: 150px;
        height: 55px;
        transform: translateY(5px);
        border-radius: 0 0 5px 5px;
    }
    }
  }
}
.btn-prev{
  visibility: hidden;
  animation: arrow-prev 4s linear infinite;
  margin: 5px;
}
.btn-next{
  animation: arrow-next 4s linear infinite;
}
.btn-prev , .btn-next{
  width: 45px;
  height: 45px;
  text-align: center;
  cursor: pointer;
  color: $text-primary;
  border-radius: 50%;
  animation: enter-cards 2s linear;
  @include flexCenter(row);
  &:hover{
    background-color: $primary;
    color: $default;
    scale: 1.05;
    @media (max-width:600px){
      scale: 1;
  }
  }
  @media (max-width:600px){
    width: 35px;
    height: 35px;
}
  i{
    font-size: 30px;
    @media (max-width:600px){
      font-size: 25px;
  }
  }
}
.team-fav{
  background-color: $secondary !important;
}
.team-fav::after{
  content: '';
  position: absolute;
  background-image: url("../img/fav.svg");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  width: 30px;
  height:30px;
  transform: translateY( -77px);
  background-color: $secondary;
  border-radius: 50%;
  @media (max-width:600px){
    width: 20px;
    height:20px;
    transform: translateY(-31px);
  }
}
.fav{
  background-color: $secondary !important;
}
@media (max-width:600px){
 body{
  overflow: hidden;
 }
}